<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Signup | Book Exchange</title>

</head>
<body>
    <h2>Signup for Book Exchange</h2>

    <form th:action="@{/signup}" method="post" th:object="${user}">
        <input type="email" th:field="*{email}" placeholder="Email" required /><br>
        <input type="password" th:field="*{password}" placeholder="Password" required /><br>
        <button type="submit">Signup</button>
    </form>

    <div th:if="${error}">
        <p style="color:red;" th:text="${error}"></p>
    </div>

    <p>Already have an account? <a href="/">Login</a></p>
</body>
</html>
